{% extends 'base.html.twig' %}
{% block body %}
    <div id="acceuil">
    </div>

    <div class="container">
        <div class="slider"> c
        </div>
        <p class="text1">am impedit quia, autem! Laboriosam et excepturi odit nostrum. </p>
        <p class="text2">
            BIENVENUE !
            CHEZ LE NUMÉRO 1 DE LA FORMATION MOTOCROSS / QUAD EN RÉGION PARISIENNE ET ILE DE FRANCE

            Enfant de 6 à 16 ans, Comités d'Entreprise, Colonie de vacances, Ecoles, centre de jeunesse...

            COMPLEXE DE 13 000M² ENTIÈREMENT DÉDIÉ AUX JEUNES MOTARDS !
        </p>
    </div>


{% endblock %}